@font-face{
    font-family: Gotham Rounded;
    src: url('../fonts/GothamRounded-Bold.otf') format('OpenType');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: Gotham Rounded;
    src: url('../fonts/GothamRounded-Light.otf') format('OpenType');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: Gotham Rounded;
    src: url('../fonts/GothamRounded-Book.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}