.recipe-list{
    border-right: 1px solid black;
    min-height: 100vh;
    width: 50%;
}

.recipe-list__add-recipe-btn-container{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.recipe__row{
    margin-top: 10px;
}
.recipe__label{
    margin-right: 5px;
}
.recipe__value{
    font-weight: 300;
}
.recipe__value--indented{
    margin-top: 10px;
    margin-left:20px;
}
.recipe__instructions{
    white-space: pre-wrap;
}